* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(240, 216, 186);
    padding: 20px;
    border-radius: 20px;
    width: 1000px;
    height: 600px;
    margin-left: 300px;
}

.title {
    margin-left: 300px;
    color: rgb(131, 122, 72);
}

.text {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.text1 {
    margin-top: 20px;
    margin-left: 200px;
}

.text2 {
    margin-top: 20px;
    margin-left: 300px;
}